* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ecef;
}

/* NAV-BAR */
.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #e9ecef;
}

/* NAV-BAR */

/* ÜRÜN BODY PARAGRAFLARI */
.card-body > p {
  font-weight: bold;
  background-color: rgb(230, 205, 197);
  width: 35%;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
}
/* ÜRÜN BODY PARAGRAFLARI */

/* HAKKIMZDA */

h2{
  color: cornflowerblue;
}